@import url("https://fonts.googleapis.com/css?family=Assistant:300|Sarabun");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  word-break: keep-all; }

html, body {
  height: 100%; }

body {
  color: #707070;
  font-family: 'Sarabun', sans-serif;
  overflow: auto; }

.grid {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  padding: 40px 0; }
  .grid::after {
    display: table;
    content: '';
    clear: both; }

.cap {
  text-transform: uppercase; }

.light {
  font-weight: 100; }

.vc {
  display: flex;
  align-items: center;
  height: 100%; }

.cf::after {
  display: table;
  content: '';
  clear: both; }

.color {
  color: #42ace1; }

.grey {
  color: #707070; }

h3 {
  font-size: 50px;
  letter-spacing: 10px; }

h5 {
  font-size: 25px; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

.link {
  border-bottom: 1px solid; }

.col3 {
  width: calc((100% / 3) - 10px);
  margin-right: calc((10px * 3) / 2);
  float: left; }
  .col3:last-child {
    margin-right: 0; }

/*
.after-border::after{
  content: '';
  position: relative;
  height: 50px;
  border-right: 1px solid #aaa;
}
*/
#particles-js, .layer, .some-space, .some-more-space {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0; }

#particles-js {
  opacity: 0.8; }

/*midnight*/
.midnightHeader.white {
  color: #fff;
  /*
  .logo{
    .cls-1,.cls-4{fill:$logoDark;}.cls-2,.cls-5{fill:$logoDark;}.cls-3{fill:$logoDark;}.cls-4,.cls-5{fill-rule:evenodd;}
  }
  */ }
  .midnightHeader.white .logo .cls-1, .midnightHeader.white .logo .cls-4 {
    fill: #263759; }
  .midnightHeader.white .logo .cls-2, .midnightHeader.white .logo .cls-5 {
    fill: #42ace1; }
  .midnightHeader.white .logo .cls-3 {
    fill: #b1d7f2; }
  .midnightHeader.white .logo .cls-4, .midnightHeader.white .logo .cls-5 {
    fill-rule: evenodd; }

.midnightHeader.default {
  color: #000; }
  .midnightHeader.default .logo .cls-1, .midnightHeader.default .logo .cls-4 {
    fill: #263759; }
  .midnightHeader.default .logo .cls-2, .midnightHeader.default .logo .cls-5 {
    fill: #42ace1; }
  .midnightHeader.default .logo .cls-3 {
    fill: #b1d7f2; }
  .midnightHeader.default .logo .cls-4, .midnightHeader.default .logo .cls-5 {
    fill-rule: evenodd; }
  .midnightHeader.default .toggle-menu span {
    background-color: #263759; }
    .midnightHeader.default .toggle-menu span:before, .midnightHeader.default .toggle-menu span:after {
      background-color: #263759; }
  .midnightHeader.default .toggle-menu.active span {
    background-color: transparent; }

.fadeInUp-scroll.visible {
  opacity: 1 !important;
  transform: translateY(0) !important;
  transition: all 1s; }

section {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.header {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  margin-top: 10px; }
  .header .menu li {
    float: left;
    list-style: none;
    margin: 10px; }

.fl {
  float: left; }

.fr {
  float: right; }

.banner {
  background: #000;
  height: 100vh;
  width: 100%;
  color: #fff;
  overflow: hidden; }
  .banner .star-small {
    background: url(../img/stars-small.png) no-repeat center; }
  .banner .star-midium {
    background: url(../img/stars-midium.png) no-repeat center; }
  .banner .flare-small {
    background: url(../img/flare-small.png) no-repeat center; }
  .banner .flare-large {
    background: url(../img/flare-large.png) no-repeat center; }
  .banner .star-large {
    background: url(../img/stars-large.png) no-repeat center; }
  .banner .parallax-mouse {
    background-size: cover;
    margin-left: -50px;
    margin-top: -50px;
    width: calc(100% + 100px);
    height: calc(100% + 100px); }
  .banner .static {
    background: url(../img/light.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
    .banner .static .vigne {
      background: url(../img/vignette.png) no-repeat center;
      width: 100%;
      height: 100%;
      background-size: cover; }
  .banner .text {
    position: absolute;
    left: calc(50% + 170px);
    top: 50%;
    transform: translate(-50%, -50%); }
    .banner .text .title {
      font-size: 5rem;
      letter-spacing: 20px;
      font-weight: 500;
      color: #42ace1; }
      .banner .text .title span {
        color: #fff; }
    .banner .text .small {
      letter-spacing: 9px;
      font-size: 90%; }
    .banner .text ul {
      text-transform: capitalize;
      line-height: 2;
      font-size: 20px;
      font-weight: 300;
      margin-top: 20px; }
      .banner .text ul li {
        text-indent: 30px; }
        .banner .text ul li::before {
          content: '';
          display: inline-block;
          position: relative;
          width: 4px;
          height: 4px;
          border-radius: 100px;
          background: #fff;
          top: -4px;
          left: -6px; }

.logo {
  height: 42px;
  margin: 0 20px; }

.logobox {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px; }

.title {
  margin: 10px 0; }
  .title .rotation-wrapper {
    position: relative;
    display: inline-block;
    height: 100px;
    width: 760px;
    overflow: hidden;
    margin-bottom: -14px; }
    .title .rotation-wrapper span {
      display: block;
      position: absolute;
      left: 0;
      bottom: 3px;
      transform: translateY(-130%);
      font-weight: normal;
      transition-timing-function: cubic-bezier(0, 0.89, 0.44, 1);
      transition-duration: .6s; }
      .title .rotation-wrapper span.active {
        font-family: FuturaNewDemi, Arial, sans-serif;
        display: block;
        transform: translateY(0%); }
      .title .rotation-wrapper span.removed {
        display: block;
        transform: translateY(130%); }
      .title .rotation-wrapper span.hidden {
        display: none; }

.menu {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  float: left;
  width: calc(100% - 120px); }

.circle {
  border: 5px solid #263759;
  border-radius: 50px;
  width: 98px;
  height: 98px;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 auto; }

.back-shape {
  background: #F2F2FF;
  width: 1600px;
  height: 3000px;
  position: absolute;
  transform: rotateZ(-80deg); }

.second {
  width: 100%;
  height: 500px;
  background: #222222;
  display: flex;
  align-items: center;
  color: #9d9d9d; }
  .second .text {
    width: 40%; }
  .second .icons {
    width: calc(60% - 20px);
    margin-left: 20px; }
    .second .icons ul {
      width: 100%; }
    .second .icons li {
      float: left;
      text-align: center;
      font-weight: 500;
      font-size: 18px;
      list-style: none;
      width: calc(100% / 4); }
      .second .icons li span {
        margin-top: 10px;
        display: inline-block; }

.sub {
  width: 100%;
  background: #FFF; }
  .sub .responsive {
    margin: 20px 0; }
  .sub .tablet-img {
    width: 50%; }
    .sub .tablet-img img {
      max-width: 100%; }
  .sub .text {
    width: 50%; }
    .sub .text .subtitle {
      margin-bottom: 10px; }
    .sub .text .description {
      margin: 10px 0; }

.our_products {
  margin-bottom: 20px; }
  .our_products .col3 {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); }
    .our_products .col3 .image img {
      width: 100%; }
  .our_products h4 {
    color: #fff;
    padding: 5px 20px;
    font-size: 26px;
    background: #42ace1; }
  .our_products.row01 .col3:nth-child(odd) h4 {
    background: #263759; }
  .our_products.row02 .col3:nth-child(even) h4 {
    background: #263759; }
  .our_products .title {
    padding: 0 20px;
    margin-bottom: 20px;
    color: #4d4d4d; }
    .our_products .title p {
      text-transform: uppercase;
      fontfont-size: 12px;
      line-height: 2; }

.sub2 {
  width: 100%;
  height: 200px;
  background: #222222; }
  .sub2 .guide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; }
  .sub2 li {
    color: #9D9D9D;
    font-size: 30px;
    font-weight: 700;
    float: left;
    margin-right: 80px;
    list-style: none; }
    .sub2 li img {
      max-width: 240px; }

.toggle-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  float: right;
  height: 50px;
  outline: none;
  padding: 0;
  pointer-events: initial;
  position: relative;
  vertical-align: middle;
  width: 50px;
  z-index: 1110; }
  .toggle-menu span {
    background-color: #fff;
    content: "";
    display: block;
    height: 2px;
    left: calc(50% - 13px );
    position: absolute;
    top: calc(50% - 1px );
    transform-origin: 50% 50%;
    transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,  transform 0.2s linear;
    width: 26px; }
    .toggle-menu span:before, .toggle-menu span:after {
      background-color: #fff;
      content: "";
      display: block;
      height: 2px;
      position: absolute;
      transform-origin: 50% 50%;
      transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,  transform 0.2s linear;
      width: 26px; }
    .toggle-menu span:before {
      top: 7px; }
    .toggle-menu span:after {
      top: -7px; }
  .toggle-menu.active span {
    background-color: transparent;
    transition: background 0.2s ease-out; }
    .toggle-menu.active span:before, .toggle-menu.active span:after {
      transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out; }
    .toggle-menu.active span:before {
      top: 0;
      transform: rotate3d(0, 0, 1, -45deg); }
    .toggle-menu.active span:after {
      top: 0;
      transform: rotate3d(0, 0, 1, 45deg); }

.mCSB_scrollTools {
  width: 10px; }

.mCSB_inside > .mCSB_container {
  margin-right: 0; }

.mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent; }

/*# sourceMappingURL=style.css.map */
